<div class="container" id="contact-cont">
	
	<div class="contact-link">
		<h2>Contact me</h2>
		</br>
		</br>
		</br>
		</br>
		</br>

		<div class="contact-row">
				<%= link_to image_tag('https://portfolio-rails-2633.herokuapp.com/assets/github-edc899c60c7b3afd0c458e648197f578.svg'), 'https://www.githuv.com'%>
				<%= link_to image_tag('https://portfolio-rails-2633.herokuapp.com/assets/linkedin-be22eb82414f9f637debbe2d64c301cb.svg'), 'https://www.linkedin.com'%>
				<%= link_to image_tag('https://portfolio-rails-2633.herokuapp.com/assets/twitter-8c095eaee58362a46d56e3f07b50b23b.svg'), 'https://www.twitter.com' %>
		</div>
	</div>

</div>
